<app-header></app-header>
<div class="flex justify-center m-14">
  <table class="w-3/5">
    <thead>
      <tr class="bg-blue-900 text-white">
        <th class="border-2 border-white p-2">Employee ID</th>
        <th class="border-2 border-white p-2">Employee</th>
        <th class="border-2 border-white p-2">Start Date</th>
        <th class="border-2 border-white p-2">End Date</th>
        <th class="border-2 border-white p-2">Leave Type</th>
        <th class="border-2 border-white p-2">Status</th>
        <th class="border-2 border-white p-2">Actions</th>
      </tr>
      @for(request of requests; track request.id) {
      <tr class="border-2 bg-blue-200">
        <th class="border-2 border-white p-2">{{ request.employeeId }}</th>
        <th class="border-2 border-white p-2">
          {{ request.employee?.firstName }} {{ request.employee?.lastName }}
        </th>
        <th class="border-2 border-white p-2">
          {{ request.formattedStartDate }}
        </th>
        <th class="border-2 border-white p-2">
          {{ request.formattedEndDate }}
        </th>
        <th class="border-2 border-white p-2">
          {{ request.leaveType }}
        </th>
        <th class="border-2 border-white p-2">
          {{ request.status }}
        </th>
        <th class="border-2 border-white p-2">
          <div class="flex gap-3 justify-center">
            <button
              class="rounded bg-green-400 px-2 py-1"
              (click)="editLeaveRequest(request.id)"
            >
              Edit
            </button>
            <button
              class="rounded bg-red-400 px-2 py-1"
              (click)="onDelete(request.id)"
            >
              Delete
            </button>
          </div>
        </th>
      </tr>
      }
    </thead>
  </table>
</div>
<div class="flex justify-center mt-4">
  @for (page of [].constructor(totalPages); track $index) {
  <button
    (click)="onPageChange($index + 1)"
    [class.bg-blue-500]="currPage === $index + 1"
    class="mx-1 px-3 py-1 rounded"
  >
    {{ $index + 1 }}
  </button>
  }
</div>
