<div class="bg-blue-900">
  <div class="flex justify-center">
    <h1 class="text-white text-4xl p-6">Employee Management System</h1>
  </div>
  <div class="flex justify-center text-white text-xl">
    <div class="p-4">
      <a routerLink="/employee-list" class="p-2"> Employees </a>
    </div>
    <!-- <div class="p-4">
      <a routerLink="/department-list" class="p-2"> Departments </a>
    </div> -->
    <div class="p-4">
      <a routerLink="/leave-request-list" class="p-2">Leave Tracker</a>
    </div>
    <div class="p-4">
      <a routerLink="/employee-form" class="p-2">Add Employee</a>
    </div>
    <div class="p-4">
      <a routerLink="/leave-request-form" class="p-2">Create Leave</a>
    </div>
  </div>
</div>
